#title
{
    font-size: 40px;
    text-align: center;
    margin: 2% 0% 1%;
    font-family: 'Secular One', sans-serif;
    color: darkslateblue; 
}

/*-------------------- Sections --------------------*/
#launchDiv
{
    font-size: 30px;
    width: 40%;
    margin-left: 27%;
    padding: 25px;
    background-color: white;
}

#frmLogin
{
    /* background-color: white; */
}

.hiddenForm
{
    display: none;
}

#menuDiv
{
    /* height: 90%; */
    /* background-color: yellow; */
}

#contactsDiv
{
    display: grid;
    grid-template-columns: 0.75fr 1fr;
    grid-gap:20px;
    /* background-color: red; */
}

#searchBar
{
    width: 100%;
    max-width: 800px;
    margin-top: 19%;
    margin-left: 28%;
    display: flex;
    align-items: center;
    border-radius: 60px;
    background-color:darkslateblue;
    opacity: 75%;
}

#frmSearchResults
{
    flex:1;
    /* background-color: blue; */
}

#frmContactInfo
{
    margin-top: 4%;
    margin-right: 35%;
    width:1000px;
    /* background: rgb(60, 60, 60); */
    background: rgba(72, 61, 139, .1); 
}

#frmContactInfo a
{
    /* color: #fff; */
}

/*-------------------- Labels --------------------*/
.lblLogin
{
    display: inline-block;
    font-size: 0.6em;
    width: 90%;
    text-align: left;
    margin-left: 10%;
    margin-bottom: 2%;
    font-family: 'Poppins', sans-serif;
    color:black;
}

.lblContactInfoIdent
{
    display: inline-block;
    margin-top: 1%;
    margin-left: 1%;
    font-size: 1.5em;
    /* margin-bottom: 2%; */
    font-family: 'Poppins', sans-serif;
    color:black;
}

#lblNeedAccnt
{
    display: inline-block;
    font-size: 0.45em;
    width: 30%;
    text-align: right;
    margin-top: 7%;
    margin-left: 23%;
    margin-bottom: 2%;
    font-family: 'Poppins', sans-serif;
    color:black;
}

#lblHaveAccnt
{
    display: inline-block;
    font-size: 0.45em;
    width: 30%;
    text-align: right;
    margin-top: 3%;
    margin-left: 31%;
    margin-bottom: 2%;
    font-family: 'Poppins', sans-serif;
    color:black;
}

#errLogin, #errSignUp
{
    display: inline-block;
    font-size: 0.5em;
    margin-top: 7%;
    margin-left: 39%;
    font-family: 'Poppins', sans-serif;
    color:red;
}

#accountName
{
    display: inline-block;
    font-size: 25px;
    margin-top: 1%;
    margin-left: 1%;
    font-family: 'Poppins', sans-serif;
    color: darkslateblue;
}

#resultList
{
    display: inline-block;
    font-size: 4em;
    margin-left: 1%;
    font-family: 'Poppins', sans-serif;
    color: darkslateblue;
}

#resultList:hover
{
    cursor:pointer;
}

/*-------------------- Text Entries --------------------*/
input[type="text"],input[type="password"]
{
    width: 80%;
    margin-left: 10%;
    margin-bottom: 5%;
    font-family: 'Poppins', sans-serif;
}

.txtInput
{
	font-size: 20px;
}

.txtContactInfo
{
    display: inline-block;
    margin-left: 1%;
    font-size: 2.5em;
    margin-bottom: 3%;
    font-family: 'Poppins', sans-serif;
    color:darkslateblue;
    background:none;
    border:0;
}

#contactSearch
{
    font-size: 20px;
    margin-top: 5%;
    margin-left: 3%;
    color:white;   
    background: transparent;
    border: 0;
    outline: none;
}

#contactSearch::placeholder
{
    color:white;
    opacity: 90%;
}

/*-------------------- Buttons --------------------*/
.hiddenButton
{
    display: none;
}

#btnLogin
{
    font-size: 25px;
    width: 50%;
    margin-top: 3%;
    margin-left: 25%;
    font-family: 'Poppins', sans-serif;
    background-color: orange;
    color: #FFFFFF;
}

#btnLogin:hover
{
    background-color: orange;
    color: #FFFFFF;
    opacity: 50%;
}

#btnSignUp
{
    font-size: 25px;
    width: 50%;
    margin-top: 3%;
    margin-left: 25%;
    font-family: 'Poppins', sans-serif;
    border-radius: 15px;
    background-color:cornflowerblue;
    color: #FFFFFF;
}

#btnSignUp:hover
{
    background-color: cornflowerblue;
    color: #FFFFFF;
    opacity: 50%;
}

#btnLogout
{
    font-size: 18px;
    width: 7%;
    margin-left: 68%;
    font-family: 'Poppins', sans-serif;
    border-radius: 15px;
    background-color:cornflowerblue;
    color: #FFFFFF;
}

#btnLogout:hover
{
    background-color: cornflowerblue;
    color: #FFFFFF;
    opacity: 50%;
}

#btnSearch
{
    margin-left: 3%;
    border: 0;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background: ghostwhite;
    opacity: 90%;
}

#btnSearch img
{
    width: 25px;
    cursor: pointer;
}

#btnEdit
{
    margin-top: 2%;
    margin-left: 85%;
    border: none;
}

#btnEdit img
{
    width: 25px;
    cursor: pointer;
    background:transparent;
}

#btnDelete
{
    margin-left: 3%;
    border:none;
}

#btnDelete img
{
    height:28px;
    width: 25px;
    cursor: pointer;
    background:transparent;
}

#btnUpdate
{
    font-size: 25px;
    width: 15%;
    margin-left: 60%;
    margin-bottom: 1%;
    font-family: 'Poppins', sans-serif;
    background-color: lightgreen;
    color: white;
    border-radius: 10px;
}

#btnCancel
{
    font-size: 25px;
    width: 15%;
    margin-left: 4%;
    font-family: 'Poppins', sans-serif;
    background-color:lightcoral;
    color: white;
    border-radius: 10px;
}

#btnCreate
{
    font-size: 30px;
    width: 35%;
    margin-left: 33%;
    font-family: 'Poppins', sans-serif;
    background-color: darkslateblue;
    color: white;
    border-radius: 10px;
}

#btnCreate:hover
{
    opacity: 80%;
    cursor: pointer;
}

/*-------------------- Links --------------------*/
.launchLink
{
    font-size: 0.45em;
    margin-top: 7%;
    margin-bottom: 2%;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

.launchLink:hover
{
    text-decoration: underline;
}