#title
{
    font-size: 3vw;
    text-align: center;
    margin: 2vw 0% 1vw;
    font-family: 'Secular One', sans-serif;
    color: darkslateblue; 
}

/*-------------------- Sections --------------------*/
.hidden
{
    display: none;
}

.dlgHeader
{
    background-color: rgba(72, 61, 139, .75);
}

#launchDiv
{
    font-size: 2vw;
    width: 40vw;
    margin-left: 28vw;
    padding: 0.5vw;
}

#contactsDiv
{
    display: grid;
    grid-template-columns: .75fr 1fr;
    grid-gap:2vw;
}

#searchBar
{
    display: flex;
    align-items: center;
    width:50vw;
    margin-top: 19vw;
    margin-left: 24vw;
    border-radius: 60px;
    background-color:darkslateblue;
    opacity: 75%;
}

#frmSearchResults
{
    flex:1;
}

#frmContactInfo
{
    width:50vw;
    margin-top: 3vw;
    margin-right: 3vw;
    background: rgba(72, 61, 139, .1); 
}

#dlgNewContact
{
    position: fixed;
    width:60vw;
    max-height: 45vw;
    margin-left: 20vw;
    z-index: 9999;
    border: solid;
    border-radius: 8px;
    background-color: white;
}

/*-------------------- Labels --------------------*/
.lblLogin
{
    display: inline-block;
    font-size: 1vw;
    margin-left: 4vw;
    margin-bottom: 1vw;
    font-family: 'Poppins', sans-serif;
    color:black;
}

.lblContactInfoIdent
{
    display: inline-block;
    font-size: 1.3vw;
    margin-top: 1vw;
    margin-left: 1vw;
    font-family: 'Poppins', sans-serif;
    color:black;
}

.lblNewContactInfoIdent
{
    display: inline-block;
    font-size: 1vw;
    margin-top: 1vw;
    margin-left: 15vw;
    font-family: 'Poppins', sans-serif;
    color:black;
}

#lblNeedAccnt
{
    display: inline-block;
    font-size: 1vw;
    margin-top: 3vw;
    margin-left: 10vw;
    margin-bottom: 2vw;
    font-family: 'Poppins', sans-serif;
    color:black;
}

#lblHaveAccnt
{
    display: inline-block;
    font-size: 1vw;
    margin-top: 3vw;
    margin-left: 12vw;
    margin-bottom: 2vw;
    font-family: 'Poppins', sans-serif;
    color:black;
}

#errLogin, #errSignUp
{
    display: inline-block;
    width: 25vw;
    text-align: center;
    font-size: 1vw;
    margin-top: 5vw;
    margin-left: 8vw;
    font-family: 'Poppins', sans-serif;
    color:red;
}

#accountName
{
    display: inline-block;
    font-size: 1.5vw;
    margin-top: 1vw;
    margin-left: 1vw;
    font-family: 'Poppins', sans-serif;
    color: darkslateblue;
}

#resultList
{
    display: inline-block;
    font-size: 3vw;
    margin-left: 1vw;
    font-family: 'Poppins', sans-serif;
    color: darkslateblue;
}

#resultList:hover
{
    cursor:pointer;
}

#lblDlgHeader
{
    color: white;
    font-size: 1.6vw;
    margin-left: 1vw;
    font-family: 'Poppins', sans-serif;    
}

/*-------------------- Text Entries --------------------*/
input[type="text"],input[type="password"]
{
    width: 80%;
    margin-left: 10%;
    margin-bottom: 5%;
    font-family: 'Poppins', sans-serif;
}

.txtInput
{
	font-size: 20px;
}

.txtContactInfo
{
    display: inline-block;
    font-size: 2.5vw;
    margin-left: 1vw;
    margin-bottom: 1vw;
    font-family: 'Poppins', sans-serif;
    color:darkslateblue;
    background:none;
    border:0;
}

.txtNewContactInfo
{
    display: inline-block;
    font-size: 2.3vw;
    margin-left: 15vw;
    margin-bottom: 2vw;
    font-family: 'Poppins', sans-serif;
    color:darkslateblue;
    background:rgba(211, 211, 211, .1);
}

#contactSearch
{
    font-size: 20px;
    margin-top: 5%;
    margin-left: 3%;
    color:white;   
    background: transparent;
    border: 0;
    outline: none;
}

#contactSearch::placeholder
{
    color:white;
    opacity: 90%;
}

/*-------------------- Buttons --------------------*/
.hiddenButton
{
    display: none;
}

#btnLogin
{
    font-size: 25px;
    width: 20vw;
    margin-top: 1vw;
    margin-left: 10vw;
    font-family: 'Poppins', sans-serif;
    background-color: orange;
    color: #FFFFFF;
}

#btnLogin:hover
{
    opacity: 50%;
}

#btnSignUp
{
    font-size: 25px;
    width: 20vw;
    margin-top: 1vw;
    margin-left: 10vw;
    font-family: 'Poppins', sans-serif;
    border-radius: 15px;
    background-color:cornflowerblue;
    color: #FFFFFF;
}

#btnSignUp:hover
{
    opacity: 50%;
}

#btnLogout
{
    font-size: 18px;
    width: 10vw;
    margin-left: 60vw;
    font-family: 'Poppins', sans-serif;
    border-radius: 15px;
    background-color:cornflowerblue;
    color: #FFFFFF;
}

#btnLogout:hover
{
    opacity: 50%;
}

#btnSearch
{
    margin-left: 3%;
    border: 0;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background: ghostwhite;
    opacity: 90%;
}

#btnSearch img
{
    width: 25px;
    cursor: pointer;
}

#btnEdit
{
    margin-top: 1vw;
    margin-left: 40vw;
    border: none;
    background: transparent;
}

#btnEdit img
{
    width: 42px;
    cursor: pointer;
}

#btnDelete
{
    margin-top: 1vw;
    margin-left: 2vw;
    border:none;
    background: transparent;
}

#btnDelete img
{
    width: 43px;
    height:43px;
    cursor: pointer;
}

#btnUpdate
{
    font-size: 25px;
    width: 8vw;
    margin-top: 1vw;
    margin-left: 30vw;
    margin-bottom: 1vw;
    font-family: 'Poppins', sans-serif;
    background-color: lightgreen;
    color: white;
    border-radius: 10px;
}

#btnCancelEdit
{
    font-size: 25px;
    width: 8vw;
    margin-left: 2vw;
    font-family: 'Poppins', sans-serif;
    background-color:lightcoral;
    color: white;
    border-radius: 10px;
}

#btnAddContact
{
    font-size: 30px;
    width: 33vw;
    text-align: center;
    margin-left: 32vw;
    font-family: 'Poppins', sans-serif;
    background-color: darkslateblue;
    color: white;
    border-radius: 10px;
}

#btnCreate
{
    font-size: 25px;
    width: 10vw;
    margin-left: 17vw;
    margin-bottom: 2vw;
    font-family: 'Poppins', sans-serif;
    background-color: darkslateblue;
    color: white;
    border-radius: 10px;
}

#btnAddContact:hover, #btnCreate:hover
{
    opacity: 80%;
    cursor: pointer;
}

#btnCancelNewContact
{
    font-size: 25px;
    width: 10vw;
    margin-left: 3vw;
    font-family: 'Poppins', sans-serif;
    background-color:lightcoral;
    color: white;
    border-radius: 10px;
}

/*-------------------- Links --------------------*/
.launchLink
{
    font-size: 1vw;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

.launchLink:hover
{
    text-decoration: underline;
}